/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
    height: 300px;
  }
  body{
      background: rgb(88, 61, 184);
  }

  h1, button{
    display: flex;  
    justify-content: center;

  }
  button{
      margin-left: 45%;
  }
  
  
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  